@charset "UTF-8";
/* 基本字体大小，颜色 */
/*#region color */
/*#endregion */
/*#region layout */
/*#endregion */
/*#region font */
/*#endregion */
/*#region border */
/*#endregion */
/* 基本字体大小，颜色 */
/*#region color */
/*#endregion */
/*#region layout */
/*#endregion */
/*#region font */
/*#endregion */
/*#region border */
/*#endregion */
.c-location { font-size: 1em; padding: 12px; background-color: #fff; font-weight: bold; }
.c-location span { position: relative; color: #FF6600; display: inline-block; text-indent: 10px; padding-left: 2px; }
.c-location em { position: absolute; top: 4px; left: 4px; font-size: 0; line-height: 0; border-bottom: 4px solid transparent; border-top: 4px solid transparent; border-left: 4px solid #FF6600; height: 0; width: 0; }

.c-tab { width: 100%; font-size: 1.25em; background-color: #fff; border-top: 1px solid #eee; border-top: #eee; }

.c-tab-nav { display: -webkit-box; display: flexbox; box-sizing: border-box; height: 75px; line-height: 75px; text-align: center; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.c-tab-nav > li { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; text-align: center; cursor: pointer; }
.c-tab-nav > li:first-of-type { border-right: 1px solid #eee; }
.c-tab-nav > li > a { display: inline-block; width: 100%; font-size: 1.5em; color: #333; }
.c-tab-nav > li.active { color: #086FCF; border-bottom: 2px solid #086FCF; }

.c-list { background-color: #fff; }
.c-list li { float: left; width: 33.1%; font-size: 1.125em; cursor: pointer; height: 60px; line-height: 60px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all; border-bottom: 1px solid #eee; border-right: 1px solid #eee; }
.c-list li:active { background-color: #FF6600; color: #fff; }
.c-list li:nth-of-type(3n) { border-right: none; }
.c-list li > a { display: inline-block; width: 100%; font-size: 1.125em; color: #333; }
.c-list li > a:active { color: #fff; }
.c-list li > a:hover { /*color: #fff;*/ }

.c-title { background: #f2f2f2; height: 40px; line-height: 40px; font-size: 16px; padding-left: 10px; font-weight: bold; }

.c-search-con { position: relative; width: 100%; background-color: #fff; }

/*======================================*/
/*=============搜索=====================*/
.c-search { width: 100%; position: absolute; top: 0; left: 0; z-index: 999; }
.c-search > li { width: 100%; text-align: left; padding-left: 20px; border: 1px solid #CFCFCF; border-top: none; border-right: none; }
.c-search > li:first-of-type { border-top: 1px solid #eee; }

.l-list-wrapper { position: relative; display: none; width: 100%; height: 400px; max-height: 400px; overflow-y: auto; z-index: 999; box-shadow: 0 2px 2px #ccc; }

#go_top { position: fixed; right: 15px; bottom: 50px; width: 40px; height: 40px; opacity: .8; z-index: 9999 !important; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA21BMVEX///+hoaGhoaGioqKjo6OkpKTBwcHBwcHBwcHBwcHMzMzu7u7s7Ozt7e3q6urv7+/v7/DZ19Pp6enq6unGxsbS0cvS0czt7e7T0s3u7u/U0s3U087w7/HY19THx8fd3dvg4N7i4t/m5ePm5eTm5uTo6Obp6efp6ejPzcfT0czT0svq6+rr6+rr6+vr7OzRz8rR0MrU083t7u7u7e7S0crV1NDW1dHX1tLv7/HX19Lw8PDw8PLx8PHy8vLT0sze3tzS0c3s7OvT0cvU0s7R0crw8PHR0Mvr6unu7u3T40cJAAAAC3RSTlMAKywsLC3JysvM0N4FqokAAAEZSURBVHhezdW1cgMxFEBRbcCOLVxGIzMzhOn/vyhSup1ZrTQpMr6j4hWnUaEnAIxC1VFULRgA3JQtihVRq3wHStYFK7tYJeBQrBF0gIO1ujYIoR5cQrjUgT6r1ZivhqukMZ83kpUSnpuPvOZZBfed+Dnmp7PPh5RshzFvuCU0D1JkuvFvromoHIbTSt/1hPPcfmUaymF9czB3Au7Mw6Yuhxj5MLEXQbCwE+gjLIcwhCcSBUFETnyUQxHrCdhjfPx/OPC8gQ7srmezdTcXhpTHcLvVamNGRdnwG415ownkTUZjEYJZ8OPpPUjlvhGWDT+jVK8SiF9IOvtLchl6ZOmOf3vX1w+1F6nuan4At3rL/h4Ao6j+PooG+AE2VmclQKKW0QAAAABJRU5ErkJggg==") no-repeat center; }
#go_top:hover { opacity: 1; }
